<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/service">Our Services</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <h1>Our Services</h1>
    <p>Here are the services we offer.</p>
    <div>
      <img src="/Image/rivage-AQTA5E6mCNU-unsplash.jpg" alt="" />
      <ul>
        <h1>We Build Magnificent Websites</h1>
        <h1>We Host your Websites</h1>
        <h1>We Give you the best designs</h1>
        <h1>We are not that expensive</h1>
      </ul>
    </div>
  </body>
</html>
